.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 44%;
    height: 560px;
    margin: 40px;
}

.input-container {
    display: flex;
    align-items: center;
    background: #F0F0F0;
    width: 400px;
    border-radius: 8px;
    padding: 10px;
}

.input-container input,
.input-container textarea {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
}


  @media (min-width: 768px) {
    .contact-button {
      padding: 0 40px;
    }
  }

h1{
    font-weight: 400;
}

.socials{
    display: flex;
    margin-top: 64px;
}

.social{
    margin-right: 32px;
}

@media (max-width: 600px) {
  .symbol{
    width: 20px;
    height: auto;
    display: flex;
    object-fit: contain;
  }
  .social{
    width: 40px;
    height: auto;
    display: flex;
    object-fit: contain;
  }

}

@media (max-width: 1000px) {
  .contactimg {
    display: none;
  }
  .contact-form{
    width: 90%;
  }
  .input-container {
    width: 100%
  }
}

@media (max-width: 1130px) {
  .contactimg {
    transform: scale(0.7);
    margin-right: 20px;
  }
}

  