
section{
    padding-top: 40px;
    padding: 0 10%;
  }
  section .content{
    width: 90%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .whoweare .whoweare-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .whoweare .whoweare-details .right{
    width: 40%;
  }
  .whoweare .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .whoweare-details .left{
    width: 55%;
  }
  section  .topic{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .whoweare-details .left p{
    text-align: justify;
    color: #0E2431;
  }

/* I am section */
.iam {
    background-color: #F3D0D2;
    padding: 20px 0; /* Adjust padding as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.iam-title {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.circle-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    padding:0 10%; /* Adjust padding as needed */
    width: 100%; /* Ensure full width */
}

.circle {
    flex: 0 0 20%;
    height: 15vw;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 15vw; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

.circle p {
    margin: 0;
}

  /*Goal section*/

  div .Goal-title{
    font-size: 250%;
    text-align: center;
  }