/* Our Mission*/
@keyframes zoomOut {
    0% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

.bento-box{
    /* max-width: 90%; */
    display: flex;
    height: 400px;
    border: 2px solid red;
}
.big-box {
    width: 50%;
    background-color: blue;
    animation: zoomOut 1s cubic-bezier(1, 0.01, 0, 0.99); 

}

/* .big-box div{
    animation: zoomOut 1s cubic-bezier(1, 0.01, 0, 0.99); 
} */

.smallBoxes{
    border: 2px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.smallbox{
    border: 2px solid red;
    flex-basis: 66%;
}
.smallbox1{
    flex: 1;
}
  

/* Our Board of Directors Section*/

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 90%;
    padding-bottom: 1%;
    padding-left: 10%;
}

/* Cards */
.card {
    width: 100px;
    height: 340px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 40px;
    transition: width 0.5s ease-in-out;
    display: flex;
    box-shadow: 0 4px 6px rgba(255, 221, 221, 0.985);
    justify-content: center;
}

.card:hover {
    width: 80%;
    margin-top: 10px;
}

.card-content {
    padding: 1%;
    align-items: center;
}


.circleBlock {
    background-color: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

div h2,
div a {
    text-align: center;
}

a {
    color: rgb(248, 102, 127);
    text-decoration: none;
}

a:hover {
    color: purple;
}

.HarmainImg {
    transform: scale(1.5);
    width: 300px;
    object-fit: cover;
    object-position: -5% 0;
    padding-right: 50px;
}

.board-heading{
    font-size: 250%;
}


@media (max-width: 600px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .card {
        width: 100%;
        height: 50%;
        display: block;
        transition: height 0.5s ease-in-out;
    }

    img,
    .circleBlock,
    .card div a,
    .card div p,
    .card div h3, .card .HarmainImg {
        display: none;
    }

    div h2 {
        font-size: 200%;
    }

    .card:hover {
        height: 100%;
    }

    .card:hover img,
    .card:hover div a,
    .card:hover div p,
    .card:hover div h3, .card:hover .HarmainImg {
        display: block;
    }

    img {
        width: 100%;
    }

    .card-content {
        padding: 5%;
    }

    div a {
        padding-top: 15%;
    }

    .HarmainImg {
        width: 100%; /* Set the width of the image */
        object-fit: cover; /* Cover the cardContainer while maintaining aspect ratio */
        margin: 15% 0 125px 40%;
        object-position: 15% 0; /* Adjust object position as needed */
        transform: scale(2); /* Zoom the image by 1.5 times */
        /* padding-bottom: 20%; Add padding on the right side */
    }

}