.services {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.service {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  min-width: 300px;
}

@media (max-width: 600px) {
  img, .circleBlock, .card div a, .card div p, .card div h3, .card .HarmainImg {
      width: 50%;
      height: auto;
      display: flex;
  }
}

